<div class="container spacer">
    <div class="card card-primary">
        <div class="card-header"><strong>A propos</strong></div>
        <div class="card-body">
            <p>Nom: <strong>{{abouts.name}}</strong></p>
            <p>Email: <strong>{{abouts.email}}</strong></p>
        </div>
    </div>
</div>