<div class="container spacer">
  <div class="card card.bg-primary">
  <div class="card-header"><strong>Liste de contacts</strong></div>
  <div class="card-body">
    <div class="form-group">
      <!-- Recherche mot clé et data binding -->
      <label >Mot clé</label>
      <input type="text" [(ngModel)]="motcle">
      <button class="btn btn-primary" (click)="chercher()">Chercher</button>
    </div>
  <table class="table table-striped">
      <thead>
      <tr>
        <!-- <th scope="col">#</th> -->
        <th scope="col">ID</th>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Email</th> 
        <th scope="col">Tel</th> 
        <th scope="col">Photo</th>
        <th scope="col">Date de Naissance</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let liste of contacts?.content,index as i"> -->
        <tr *ngFor="let liste of contacts?.content">
        <!-- <th scope="row">{{i+1}}</th> -->
        <th scope="row">{{liste.id}}</th>
        <td>{{liste.nom}}</td>
        <td>{{liste.prenom}}</td>
        <td>{{liste.email}}</td>
        <td>{{liste.tel}}</td>
        <td>{{liste.photo}}</td>
        <td>{{liste.dateNaissance}}</td>
        <td><a (click)="onEditContact(liste.id)" class="clickable">Editer</a></td>
        <td><a (click)="onSupprimerContact(liste)" class="clickable">Supprimer</a></td>
      </tr>
    </tbody>
  </table>
  <div class="container">
    <!-- <ul class="nav md-tabs light-blue lighten-1 mx-0 mb-0 mt-1"> -->
    <ul class="nav nav-pills">
      <li class="nav-item" [ngClass]="{'active':i==Currentpage}" *ngFor="let p of pages; let i=index"><a  class="clickable nav-link active" (click)="gotoPage(i)">{{i}}</a></li>
    </ul>
  </div>
  </div>
  </div>
</div>
