<div class="container spacer">
  <button routerLink="/about" class="btn btn-primary">About</button>
  <button routerLink="/contact" class="btn btn-primary">Liste des Contacts</button>
  <button routerLink="/nouveauContact" class="btn btn-primary">Nouveau Contact</button>
  <button routerLink="/contactnew" class="btn btn-primary">ContactNew-Version2</button>
</div>
<router-outlet></router-outlet>