<div class="container spacer">
    <div class="card card.bg-primary" *ngIf="mode==1" >
        <div class="card-header">Nouveau Contact</div>
        <div class="card-body">
            <div class="form-group">
                <label class="control-label">Nom:</label>
                <input class="form-control" type="text" [(ngModel)]="contact.nom">
                <label class="control-label">Prenom:</label>
                <input class="form-control" type="text" [(ngModel)]="contact.prenom">
                <label class="control-label">Email:</label>
                <input class="form-control" type="text" [(ngModel)]="contact.email">
                <label class="control-label">Tel:</label>
                <input class="form-control" type="number" [(ngModel)]="contact.tel">
                <label class="control-label">Date de Naissance:</label>
                <input class="form-control" type="date" [(ngModel)]="contact.dateNaissance">
            </div>
            <div class="container"><button class="btn btn-primary" (click)="updateContact()">Editer</button></div>
        </div>
    </div>
    <!-- Affichage des données après saisie et validation sur la même page -->
    <div class="card card.bg-primary" *ngIf="mode==2" >
        <div class="card-header">Confirmation</div>
        <div class="card-body">
            <div class="form-group">
                <label class="control-label">ID:</label>
                <label >{{contact.id}}</label><br>
                <label class="control-label">Nom:</label>
                <label >{{contact.nom}}</label><br>
                <label class="control-label">Prenom:</label>
                <label >{{contact.prenom}}</label><br>
                <label class="control-label">Email:</label>
                <label >{{contact.email}}</label><br>
                <label class="control-label">Tel:</label>
                <label >{{contact.tel}}</label><br>
                <label class="control-label">Date de Naissance:</label>
                <label >{{contact.dateNaissance}}</label>
            </div>
        </div>
    </div>
</div>