<div class="container spacer">
    <div class="card card.bg-primary">
        <div class="card-header">Saisie d'un contact</div>
        <div class="card-body">
            <form #f="ngForm" (ngSubmit)="onsaveContact(f.value)">
                <div class="form-group">
                    <label class="control-label">Nom:</label>
                    <input class="form-control" type="text" ngModel name="nom" required>
                </div>
                <div class="form-group">
                    <label class="control-label">Prenom:</label>
                    <input class="form-control" type="text" ngModel name="prenom" required >
                </div>
                <div class="form-group">
                    <label class="control-label">Email:</label>
                    <input class="form-control" type="email" ngModel name="email" required email>
                </div>
                <div class="form-group">
                    <label class="control-label">Tel:</label>
                    <input class="form-control" type="number" ngModel name="tel" required>
                </div>
                <div class="form-group">
                    <label class="control-label">Date Naissance:</label>
                    <input class="form-control" type="date" ngModel name="dateNaissance" required>
                </div>
                <button  [disabled]="!f.valid" type="submit" class="btn btn-primary">Sauver</button>
                </form>                
        </div>
    </div>


</div>
